.section9 .head {
    margin: auto;
    width: '50%';
    width: 366px;
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px
}

.section9 .head div {
    position: absolute
}

.section9 .head1 {
    margin: auto;
    width: 50%;
    height: 50px;
    background-color: #C53418;
    width: 150px;
    font-size: 20px;
    color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 25px;
    cursor:pointer
}

.section9 .admission_card {
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 3px 6px #0000005C;
    margin-top: 50px;
    padding-bottom: 25px;
    border-radius: 5px;

}

.section9 .admission_card .tag hr {
    border: 1.5px solid #FAD831;
    width: 60px;
    border-radius: 20px;
    margin-right: 10px
}

.section9 .admission_card strong {
    font-size: 24px;
    margin-left: 10px
}

.section9 .admission_card .tag {
    padding: 20px;
    display: flex;
    align-items: center;
}

.section9 .admission_card .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px
}

.section9 .admission_card .grid .title {
    display: flex;
    flex-direction: row
}

.section9 .admission_card .grid .title img {
    width: 32px;
    height: 31px;
}

.section9 .admission_card .grid .title strong{
    font-size: 22px;
    font-weight: 600
}


.section9 .admission_card .grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px
}

.section9 .admission_card .grid p {
    width: 70%;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 30px
}

.section9 .form .tag hr {
    font-size: 24px;
    margin-left: 10px
}

.section9 .form .tag strong {
    font-size: 24px;
    margin-left: 10px
}

.section9 .form .tag {
    padding: 20px;
    display: flex;
    align-items: center;
}

.section9 .form .grid{
    margin-left:5%;
    margin-right:5%;
}


.section9 .form .add_text input {
    outline: none;
    border: 1px solid #828282;
    height: 30px;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    background-color: #fff
}

.section9 .form .add_text select {
    outline: none;
    border: 1px solid #828282;
    height: 40px;
    width: 84%;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    background-color: #fff;
    color: #828282
}



.section9 .form .grid .add_text {
    position: relative;
}


.section9 .form .grid .add_text span {
    position: absolute;
    left: 10%;
    top: 1px;
    background-color: #fff;
    padding-right: 10px;
    font-size: 14px;
    color: #000000
}

@media screen and (max-width: 1130px) {
    .section9 .admission_card .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px
    }
}

@media screen and (max-width: 760px) {
    .section9 .admission_card .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .section9 .form .tag strong {
        font-size: 20px;
    }

    .section9 .admission_card strong {
        font-size: 20px;
    }

    .section9 .admission_card .grid .title strong{
        font-size: 18px;
    }

    .section9 .admission_card .grid p {
        font-size: 16px;
    }

    .section9 .form .add_text input {
        width: 90%;
    }
    
    .section9 .form .add_text select {
        width: 94%;
    }
    
    
}