  
  .menu{
    display:none
  }
  
  nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height:100px;
    align-items: center;
    background-color: #fff
  }

  nav ul li a{
    font-size: 18px;
    color: black;
    font-weight:600;
    padding-left:24px
  }
  
  nav .logo{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center
  }
  
  nav .logo .logo-image{
   background:url('../assets/logo.png');
   width:80px;
   height:80px;
   background-size: cover
  }
  
  
  
  nav ul{
    display:flex;
    flex-direction: row;
  }
  
 

  nav .logo .content{
    margin-left: 10px;
  }

  nav .logo .content div{
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight: 600
  }

  nav .logo .content span{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
  }
  
  .header-image{
    position: relative;
    background:url('../assets/header_image.jpg');
    width: 100%;
    height:600px;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover
  }
  
  .header-image .content {
    position:absolute;
    top:120px;
    left:10%;
  }
  
  .header-image .content div{
    display:flex;
    align-items: center;
    height:67px;
    font-size: 22px;
    padding-left: 27px
  }
  
  .header-image .content .first-block {
  width:276px;
  background-color: #666666;
  color:#fff;  
  }
  
  .header-image .content .second-block{
    width:415px;
  background-color: #C53418;
  color:#fff; 
  }
  
  .header-image .content .third-block {
    width:382px;
    background-color:  #FAD831       ;
    color:#fff;  
  }
  
  
  .header-image .content2 {
    position:absolute;
    height:118px;
    width:536px;
    background-color:#C53418;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:20px;
    border-radius: 10px;
    bottom:-80px; 
    margin:0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0px 3px 6px #00000029;
  }
  
  .header-image .content2 .first-block{
  font-size:24px;
  color:#fff;
  font-size: 600
  }
  .header-image .content2 .second-block{
    font-size:22px;
    margin-top: 15px;
    color:#dcdcdc;
    font-family: 'Montserrat', sans-serif;
  }

  .header-image .image-card{
    position : absolute;
    bottom:56px;
    right:184px;
  }

  .header-image .image-card img{
    height:40px;
    width:40px;
    border-radius: 50%;
    margin-left:15px
  }

  .header-image .image-card .active{
    border : 3px solid #C53418;
  }
  
  @media screen and (max-width: 900px) {
   nav ul{
       display: none
    }
  
  
    .menu{
      display:unset;
      position: absolute;
      left:20px;
      font-size:30px;
      color:#828282
    }
  
    nav .logo .content{
       font-size:14px
    }
  
    nav .logo .logo-image{
      width:50px;
      height:50px;
     }
  
    .header-image .content {
      top:100px;
      left:80px;
    }
  
    .header-image{
      height:400px;
    }
  
    .header-image .content2 {
      height:40px;
    }
    
      .header-image .content2 .first-block{
        font-size:14px;
        }

        .header-image .content2 .second-block{
          font-size:12px;
          margin-top: 15px;
        }
  
        .header-image .content div{
          height:30px;
          font-size:12px
        }
        
        .header-image .content .first-block {
        width:150px; 
        }
        
        .header-image .content .second-block{
          width:230px; 
        }
        
        .header-image .content .third-block {
          width:190px;
        }
  
  }
  
  @media screen and (max-width: 460px) {
  
    nav .logo .logo-image{
      width:40px;
      height:40px;
     }
  
     nav .logo .content{
      font-size:12px
   }
    
  
    .header-image{
      width: 100%;
      height:300px;
    }
  
    .header-image .content {
      top:50px;
      left:10px;
    }
  
    .header-image .content2 {
      height:30px;
    }
    
      .header-image .content2 .first-block{
        font-size:12px;
        }
        
        .header-image .content2 .second-block{
          font-size:10px;
          margin-top: 15px;
        }
  
        .header-image .content div{
          height:30px;
          font-size:12px;
        }
        
        .header-image .content .first-block {
        width:150px;
        }
        
        .header-image .content .second-block{
        width:230px; 
        }
        
        .header-image .content .third-block {
          width:190px; 
        }
  
   }