.section8 .numbers{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    background-color:#C53418;
    padding-left: 5%;
    padding-right:5%;
    padding-top:5%;
    padding-bottom:5px
}

.section8 .text{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    background-color:#C53418;
    padding-left: 5%;
    padding-right:5%;
    padding-top:5px;
    padding-bottom:5%
}


.section8 .numbers div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
}

.section8 .text div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column
}

.section8 .numbers div .num{
    font-size:40px;
    font-weight:600;
    color:#fff;
}

.section8 .text div .content{
    font-size:24px;
    color:#fff;
    margin-top: 40px;
    text-align: center
}

@media screen and (max-width: 950px) {

    .section8 .numbers div .num{
        font-size:20px;
    }
    
    .section8 .numbers div .content{
        font-size:14px;
    }

}

@media screen and (max-width: 650px) {
    .section8 .numbers{
        grid-template-columns: repeat(3, 1fr);
        grid-gap:30px;
        height:300px;
    }

}

@media screen and (max-width: 450px) {
    .section8 .numbers{
        grid-template-columns: repeat(2, 1fr);
        height:400px;
    }
}