.slider{
    position:absolute;
    left:0;
    bottom:0;
    width:250px;
    height:100%;
    background:#dcdcdc;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:3
}

.slider ul li{
  margin-top:40%
}

.slider ul li a{
  color: black
}